<html>
<head>
	<title>E2Gather</title>
</head>
<body>
	<div>
    <%= image_tag "pacman.png" %>
		<%= link_to 'Login', @auth_url, :class=>"button"%>
	</div>
</body>
<style type="text/css">
  html, body, img {
    text-align: center;
    padding: 10px;
  }
</style>
</html>
