<html>
<head>
	<title>E2Gather</title>
</head>
<body style="background: #cee0ed;">
	<div class="center hero-unit">
		<table id="action_table" align="center">
		<tr>
		<td><img src="img/pacman.png" alt="pacman" height="50%"></td>
		<td><%= link_to 'Login', @auth_url, :class=>"button"%></td>
		<!--<td><%=submit_tag "Login", :type=>'button', :onclick=>'alert("It works!")'%></td>-->
		<!--<td><input type="submit" id="logbutton" value="Login Facebook"></input></td>-->
		</tr>
		</table>
	</div>
</body>
</html>
