<% provide(:title, "You are the host!!") %>
<h1>You are the host!!</h1>
<%= form_tag({:controller => "e2gather", :action => "loginFacebook"}, :method=>"get") do %>
<%= submit_tag "Home", :class => "btn btn-large btn-primary" %>
<% end %>
